/* LINK BUTTON */

.link-button {
    align-items: center;
    background: var(--primary-color);
    border-radius: 8px;
    display: flex;
    padding: 12px 40px;
    position: relative;
    overflow: hidden;
    width: fit-content;
    width: -moz-fit-content;
}

.link-button--secondary {
    background: transparent;
    border: 3px solid var(--primary-color);
}

.link-button__text {
    margin: 0;
    position: relative;
}

.link-button::before {
    background: var(--primary-color--light);
    content: '';
    height: 100%;
    left: 0;
    width: 0;
    position: absolute;
    top: 0;
    transition: width .5s;
}

.link-button:hover::before,
.link-button:focus::before {
    width: calc(100% - 30px);
}

/* CONTAINER */

.container {
    margin: 0 auto;
    padding: var(--container-padding-vertical) var(--container-padding-horizontal);
    transition: width .5s;
    width: calc(var(--xl) - 2 * var(--container-padding-horizontal));
}

/* xl breakpoint */
@media only screen and (max-width: 1200px){
    .container {
        width: 100%
    }
}