.intro__art {
    bottom: var(--container-padding-vertical);
    position: absolute;
    height: var(--intro-art-height);
    right: 30px;
    top: 40vh;
    width: 600px;
    z-index: 2;
}

.astronaut {
    animation: walk 4s;
    animation-timing-function: linear;
    bottom: 120px;
    position: absolute;
    right: 300px;
    z-index: 2;
}

.astronaut__head {
    background: radial-gradient(circle at 40px, var(--suit-glass-color) 35px, var(--suit-helmet-color) 36px, var(--suit-helmet-color));
    border-radius: 50%;
    bottom: calc(var(--suit-leg-height) + var(--suit-body-height) - 20px);
    height: 90px;
    position: absolute;
    right: -5px;
    width: 90px;
    z-index: 3;
}

.astronaut__body {
    background: var(--suit-primary-color);
    border-radius: 20px;
    bottom: calc(var(--suit-leg-height) - 10px);
    box-shadow: 15px -10px var(--suit-metal-color);
    height: var(--suit-body-height);
    position: absolute;
    right: -5px;
    width: var(--suit-body-width);
}

.astronaut__body .chest-plate {
    background: var(--suit-metal-color);
    height: 30px;
    left: 5px;
    position: absolute;
    top: 20px;
    width: 50px;
}

.astronaut__body .chest-plate::after {
    background: var(--suit-details-color);
    border-radius: 50%;
    box-shadow: 10px 0 var(--suit-details-color),
        20px 0 var(--suit-details-color),
        30px 0 var(--suit-details-color);
    content: '';
    height: 5px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 5px;
}

.astronaut__body .chest-plate::before {
    background: var(--suit-details-color);
    box-shadow: 0 6px var(--suit-details-color),
        20px 0 var(--suit-details-color),
        20px 3px var(--suit-details-color),
        20px 6px var(--suit-details-color);
    content: '';
    height: 3px;
    left: 5px;
    position: absolute;
    top: 15px;
    width: 15px;
}

.astronaut__body .belt {
    background: repeating-linear-gradient(to right,
        var(--suit-details-color) 20px, transparent 20px,
        transparent 25px, var(--suit-details-color) 25px,
        var(--suit-details-color) 45px, transparent 45px
    );
    bottom: 20px;
    height: 8px;
    position: absolute;
    width: 100%;
}

.astronaut__arm {
    animation: move-arms 2.5s 0s 2;
    background: var(--suit-arm-color);
    border-radius: 15px;
    bottom: calc(var(--suit-leg-height) + var(--suit-body-height) - 80px);
    height: 60px;
    position: absolute;
    right: calc(var(--suit-body-width) - 25px);
    width: 30px;
    transform-origin: center 15px;
}

.astronaut__arm--right {
    animation-direction: reverse;
    right: -10px;
}

.astronaut__arm::before {
    background: var(--suit-arm-color);
    border-radius: 15px;
    top: calc(60px - 25px);
    content: '';
    height: 60px;
    position: absolute;
    transform-origin: center 15px;
    transform: rotate(20deg);
    width: 30px;
}

.astronaut__arm::after {
    background: var(--suit-arm-pipe);
    border-radius: 2px;
    box-shadow: 0 8px var(--suit-arm-pipe);
    bottom: 22px;
    content: '';
    height: 5px;
    left: -3px;
    position: absolute;
    width: 36px;
}

.astronaut__leg {
    animation: move-left-leg 2.5s 0s 2;
    background: var(--suit-primary-color);
    border-radius: 0 0 10px 0;
    bottom: 0;
    height: var(--suit-leg-height);
    position: absolute;
    right: 37px;
    transform-origin: top center;
    width: 35px;
}

.astronaut__leg--right {
    animation: move-right-leg 2s 0s 2;
    right: 0;
    transform: rotate(-15deg);
}

.astronaut__leg .knee {
    background: var(--suit-details-color);
    height: 13px;
    left: 2px;
    position: absolute;
    top: calc((100% - 13px) / 2);
    width: 17px;
}

.astronaut__leg .foot {
    background: linear-gradient(var(--suit-primary-color) 20px, transparent 20px),
    linear-gradient(to right,
        var(--suit-primary-color) 15px, var(--suit-details-color) 15px,
        var(--suit-details-color) 17px, var(--suit-primary-color) 17px,
        var(--suit-primary-color) 20px, var(--suit-details-color) 20px,
        var(--suit-details-color) 22px, var(--suit-primary-color) 22px,
        var(--suit-primary-color) 25px, var(--suit-details-color) 25px,
        var(--suit-details-color) 27px, var(--suit-primary-color) 27px,
        var(--suit-primary-color) 30px, var(--suit-details-color) 30px,
        var(--suit-details-color) 32px, var(--suit-primary-color) 32px,
        var(--suit-primary-color) 35px, var(--suit-details-color) 35px,
        var(--suit-details-color) 37px, var(--suit-primary-color) 37px,
        var(--suit-primary-color) 40px, var(--suit-details-color) 40px,
        var(--suit-details-color) 42px, var(--suit-primary-color) 42px,
        var(--suit-primary-color) 45px, var(--suit-details-color) 45px,
        var(--suit-details-color) 47px, var(--suit-primary-color) 47px
    );
    border-radius: 15px 0 10px 15px;
    bottom: 0;
    height: 25px;
    position: absolute;
    right: 0;
    width: 55px;
}

.ground,
.ground__dust,
.ground__highlight {
    border-radius: 50px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.ground__dust,
.ground__highlight {
    transform-origin: right;
}

.ground {
    background: var(--primary-color);
    bottom: 0;
    height: 150px;
    overflow: hidden;
    width: 90%;
}

.ground__dust {
    animation: ground-move 3s infinite;
    background: var(--primary-color--light);
    bottom: 20px;
    height: 110px;
    width: 80%;
}

.ground__highlight {
    animation: ground-move 5s infinite;
    background: var(--primary-color--bright);
    bottom: 45px;
    height: 60px;
    width: 40%;
}

@keyframes walk {
    from {
        right: 100px;
    }
    to {
        right: 300px;
    }
}

@keyframes move-left-leg {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes move-right-leg {
    from {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(-15deg);
    }
}

@keyframes move-arms {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes ground-move {
    from {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.05);
    }
    to {
        transform: scaleX(1);
    }
}