.reservation__art {
    height: 300px;
    position: relative;
    width: 200px;
}

.rocket {
    animation: flight .6s infinite;
    position: absolute;
    right: 90px;
    top: 20px;
    transform: rotate(25deg);
    transform-origin: 100px 100%;
}

.rocket__body {
    background: var(--rocket-body-color);
    border-radius: 100% 100% 40px 40px;
    height: 200px;
    position: relative;
    width: 80px;
}

.rocket__body::before {
    content: '';
    background: var(--rocket-exhaust-color);
    bottom: -11px;
    height: 12px;
    left: calc((100% - 50px) / 2);
    width: 50px;
    position: absolute;
    z-index: 2;
}

.rocket__window {
    background: var(--rocket-window-color);
    border: 4px solid var(--rocket-additions-color);
    border-radius: 50%;
    height: 50px;
    left: calc((100% - 50px) / 2);
    position: absolute;
    top: 50px;
    width: 50px;
}

.rocket__wing {
    background: var(--rocket-additions-color);
    border-radius: 500% 0 0 50%;
    height: 50px;
    left: -20px;
    position: absolute;
    bottom: 20px;
    width: 20px;
}

.rocket__wing--right {
    left: calc(50px + 30px);
    transform: scaleX(-1);
}

.rocket__flame {
    background: linear-gradient(var(--rocket-flame-color), transparent);
    border-radius: 0 0 100% 100%;
    height: 100px;
    left: calc((100% - 40px) / 2);
    position: absolute;
    top: 200px;
    width: 40px;
    z-index: 1;
}

@keyframes flight {
    from {
        transform: translate3d(0px, 0px, 0) rotate(25deg);
    }
    50% {
        transform: translate3d(2px, -3px, 0) rotate(25deg);
    }
    100% {
        transform: translate3d(0px, 0px, 0) rotate(25deg);
    }
}

