html {
    scroll-behavior: smooth;
}

section,
footer {
    background: var(--secondary-color);
    width: 100%;
}

h1 {
    color: var(--text-primary-color);
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
    position: relative;
}

h1::after {
    background: var(--primary-color);
    bottom: -18px;
    border-radius: 8px;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    width: 90px;
}

h2 {
    color: var(--text-primary-color);
    font-family: var(--main-font);
    font-size: 20px;
}

p,
a {
    color: var(--text-primary-color);
    font-family: var(--secondary-font);
}

p {
    font-size: 15px;
    line-height: 175%;
}

a {
    font-size: 16px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
}