:root {
    /* ------ COLORS ------- */

    --primary-color: #6C150D;
    --primary-color--light: #9F3D34;
    --primary-color--bright: #B9716A;
    --secondary-color: #040325;
    --text-primary-color: #dadada;
    --text-secondary-color: #AAABB5;
    --dark-color: #0E0C0A;

    /* intro art colors */
    --suit-primary-color: #E2DEDE;
    --suit-secondary-color: #8B8989;
    --suit-details-color: #C4C4C4;
    --suit-metal-color: #535050;
    --suit-arm-color: #8B8989;
    --suit-arm-pipe: #6C150D;
    --suit-helmet-color: #F6F6F6;
    --suit-glass-color: #353030;

    /* reservation art colors */
    --rocket-body-color: #E2DEDE;
    --rocket-window-color: #0E0C0A;
    --rocket-additions-color: #9F3D34;
    --rocket-exhaust-color: #AAABB5;
    --rocket-flame-color: #E2DEDE;

    /* ------- TYPOGRAPHY ------- */

    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    /* ------- BREAKPOINTS ------- */

    --sm: 600px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;

    /* ------- DIMENSIONS ------- */

    --nav-height: 94px;
    --container-padding-vertical: 80px;
    --container-padding-horizontal: 30px;
    --intro-art-height: 350px;

    /* intro art dimensions */

    --suit-leg-height: 110px;
    --suit-body-height: 120px;
    --suit-body-width: 80px
}

/* BREAKPOINTS */

/* Extra small devices (small phones) */
@media only screen and (max-width: 440px) {}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) {}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops) */
@media only screen and (max-width: 1200px) {}