footer {
    background: var(--dark-color);
}
.footer {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 50px var(--container-padding-horizontal) 100px;
}

.footer-logo {
    align-items: center;
    display: flex;
}

.footer-logo__image {
    margin-right: 20px;
    width: 50px;
}

.footer-logo__name {
    font-family: 'Expletus Sans', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0;
}

.footer__contact .phone,
.footer__contact .email {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.footer__contact img {
    height: 20px;
    margin-right: 20px;
}

.footer__credit {
    color: var(--text-secondary-color);
    margin: 0;
}

.footer__credit a {
    color: var(--primary-color--light);
    transition: color .2s;
}

.footer__credit a:hover {
    color: var(--primary-color--bright);
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        padding-bottom: 70px;
    }

    .footer-logo,
    .footer__contact {
        margin-bottom: 30px;
    }
}