.intro__container {
    display: flex;
    height: 100vh;
    min-height: calc(var(--intro-art-height) + 2 * var(--container-padding-vertical));
    overflow: hidden;
    position: relative;
}

.intro__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__title h1 {
    font-size: 60px;
    margin-bottom: 0;
    width: 60%;
}

.intro__title h1::after {
    width: 0;
}

.intro__buttons {
    display: flex;
    margin-top: 50px;
}

.intro__buttons .link-button {
    margin-right: 40px;
}

.intro__container .mars,
.intro__container .earth {
    position: absolute;
    right: 10px;
    top: 35vh;
    width: 300px;
    z-index: 1;
}

.intro__container .mars {
    display: none;
}

.intro__stars {
    position: absolute;
    top: 30vh;
    right: 300px;
}

.intro__stars li {
    list-style: none;
    position: absolute;
}

.intro__stars li::before,
.intro__stars li::after {
    background-color: var(--text-secondary-color);
    border-radius: 50%;
    box-shadow: 0 0 2px var(--text-secondary-color);
    content: '';
    position: absolute;
}

.intro__stars li::before {
    height: 3px;
    width: 11px;
}

.intro__stars li::after {
    height: 9px;
    left: 4px;
    top: -3px;
    width: 3px;
}

.intro__stars li:nth-child(1) {
    animation: twinkle 1s ease infinite;
    left: -210px;
    top: -30px;
}

.intro__stars li:nth-child(2) {
    animation: twinkle 1.5s ease infinite;
    left: 60px;
    top: 0;
}

.intro__stars li:nth-child(2)::before {
    height: 2px;
    width: 6px;
}

.intro__stars li:nth-child(2)::after {
    height: 6px;
    left: 2px;
    top: -2px;
    width: 2px;
}

.intro__stars li:nth-child(3) {
    animation: twinkle 3s ease infinite;
    left: -120px;
    top: 220px;
}

.intro__stars li:nth-child(4) {
    animation: twinkle 1.5s ease infinite;
    left: -130px;
    top: 50px;
}

.intro__stars li:nth-child(5) {
    animation: twinkle 1s ease infinite;
    left: 170px;
    top: 100px;
}

.intro__stars li:nth-child(6) {
    animation: twinkle 0.8s ease infinite;
    left: -79px;
    top: 87px;
}

.intro__stars li:nth-child(6)::before {
    height: 2px;
    width: 6px;
}

.intro__stars li:nth-child(6)::after {
    height: 6px;
    left: 2px;
    top: -2px;
    width: 2px;
}

.intro__stars li:nth-child(7) {
    animation: twinkle 1s ease infinite;
    left: -180px;
    top: 150px;
}

.intro__stars li:nth-child(8) {
    animation: twinkle 1s ease infinite;
    left: -10px;
    top: 10px;
}

@media only screen and (max-width: 992px) {
    .intro__container .mars{
        display: block;
    }

    .intro__container .earth{
        display: none;
    }

    .intro__art {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .intro__title {
        position: absolute;
        top: 30vh;
        z-index: 2;
    }

    .intro__stars {
        right: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .intro__title h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 440px) {
    .intro__title h1 {
        font-size: 35px;
    }
}

@keyframes twinkle {
    60% {
        opacity: 0.7;
    }
}