.navigation {
    background: var(--secondary-color);
    position: absolute;
    width: 100%;
    z-index: 4;
}

.navigation.sticky {
    background: var(--dark-color);
    position: fixed;
}

.navigation .container {
    align-items: center;
    display: flex;
    padding: 20px 30px;
}

.navigation.sticky .container,
.navigation.sticky-mobile .container{
    padding: 10px 30px;
}

.navigation__logo {
    margin-right: 40px;
    width: 60px;
}

.navigation.sticky .navigation__logo,
.navigation.sticky-mobile .navigation__logo {
    width: 40px;
}

.navigation .link {
    color: var(--text-secondary-color);
    margin-right: 20px;
    position: relative;
}

.navigation .link::before {
    color: var(--text-primary-color);
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: max-width .5s;
    white-space: nowrap;
}

.navigation .link:hover::before,
.navigation .link:focus::before {
    max-width: 100%;
}

.navigation #toggle {
    cursor: pointer;
    display: none;
    height: 30px;
    position: relative;
}

.navigation .line,
.navigation #toggle::after,
.navigation #toggle::before {
    background: var(--text-primary-color);
    height: 2px;
    width: 40px;
    transition: .2s;
}

.navigation #toggle::after,
.navigation #toggle::before {
    content: '';
    position: absolute;
}

.navigation .line,
.navigation #toggle::before {
    transform-origin: 1px center;
}

.navigation #toggle::after {
    top: 15px;
}

.navigation #toggle::before {
    top: 30px;
}

.navigation #menu.active + #toggle .line {
    transform: rotate(45deg);
    width: 44px;
}

.navigation #menu.active + #toggle::before {
    transform: rotate(-45deg);
    width: 44px;
}

.navigation #menu.active + #toggle::after {
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    #menu-container,
    #menu {
        background: var(--secondary-color);
        transition: background-color .2s;
    }

    #menu-container.active,
    #menu.active {
        background: var(--dark-color);
    }

    .navigation {
        position: fixed;
        width: 100%;
    }

    .navigation #toggle {
        display: block;
    }

    .navigation .container {
        justify-content: space-between;
    }

    #menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        left: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 90px;
        transition: .5s;
    }

    .navigation.sticky-mobile #menu {
        top: 60px;
    }

    #menu .link {
        color: var(--text-primary-color);
        font-size: 18px;
        margin: 30px 0;
    }

    .navigation .link::before {
        color: var(--primary-color);
    }

    #menu.active {
        max-height: 400px;
        padding-bottom: 40px;
    }
}