.journey__offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 0 20px;
    overflow: hidden;
}

.offer__element {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 50px;
    min-width: 200px;
    opacity: 0;
    transform: translateY(200px);
}

.offer__element img {
    width: 50px;
}

.offer__element p {
    text-align: center;
}