.reservation__details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.reservation__description {
    margin-right: 50px;
    opacity: 0;
    transform: translateY(200px);
    width: calc(100% - 300px - 50px);
}

.reservation__art {
    margin-right: 50px;
}

@media only screen and (max-width: 768px) {
    .reservation__details {
        flex-direction: column-reverse;
    }

    .reservation__description {
        margin-right: 0;
        width: 100%;
    }

    .reservation__art {
        margin: 0 auto;
    }
}